:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

}

*{
  margin: 0;
  padding: 0; 
}
body{
  min-width: 240px;
}
.layout {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;

}

.header{
  /* flex: 0 0 auto;  */
  /* background:url("./assets/images/curvyBackground.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 79px;
  display: flex;
  flex-direction: column-reverse;
}

.outlet {
  flex: 1;
  width: 100%;

}
/* @font-face {
  font-family: jacquard;
  src: url("./assets/fonts/Jacquard24-Regular.ttf");
}

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Black.ttf");
} */

.manRope400{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
}
.manRope500{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
}
.manRope600{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
}
.manRope700{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
}
.manRope800{
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 800 !important;
  font-style: normal;
}
.coveredBy400{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 400 !important;
  font-style: normal;
}
.coveredBy500{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 500 !important;
  font-style: normal;
}
.coveredBy600{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 600 !important;
  font-style: normal;
}
.coveredBy700{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 700 !important;
  font-style: normal;
}
.coveredBy800{
  font-family: "Covered By Your Grace", cursive !important;
  font-weight: 800 !important;
  font-style: normal;
}


.headerTab .MuiTabs-indicator{
  display: none;
}

.inputBox fieldset{
display: none;
}

.headerContactComponent .headerContactComponentItem:not(:last-child){
  border-right:1px solid #E4E2D7 !important;
}
.MuiCardContent-root.cardContent:last-child{
  padding: 0px;
}

.green-scrollbar .swiper-scrollbar {
  background-color: darkgreen;
}

.green-scrollbar .swiper-scrollbar-drag {
  background-color: lightgreen;
}
 .MuiInputBase-root.MuiOutlinedInput-root.CustomInput fieldset{
  border: 0 !important;
}
.MuiInputBase-root.MuiOutlinedInput-root.CustomInput input
{
  padding:0 !important;
}
.MuiDialog-root.customMuiDialog .MuiDialog-container.MuiDialog-scrollPaper .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded{
  /* background-color: rgb(255, 255, 255); */
  padding:30px;
}


#customFilterBtn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }
 
 #customFilterBtn, #customFilterBtn span {
  transition: 200ms;
 }
 
 #customFilterBtn .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }
 
 #customFilterBtn .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 #customFilterBtn svg {
  width: 15px;
  fill: #eee;
 }
 
 #customFilterBtn:hover {
  background: #ff3636;
 }
 
 #customFilterBtn:hover .text {
  color: transparent;
 }
 
 #customFilterBtn:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 #customFilterBtn:focus {
  outline: none;
 }
 
 #customFilterBtn:active .icon svg {
  transform: scale(0.8);
 }

 
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(228, 228, 228, 0.192);
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(233, 233, 233);
}

/* form */

.form-container {
  max-width: 350px;
  min-width: 100px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  margin:0 auto;
  font-family: manRope;
}

.title {
  text-align: center;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}





.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 10px;
  width: 100%;
  border: 1px solid;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
  font-size: 16px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: black;
  text-decoration-color: black;
  transition: 0.5s all;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
}

.page-link:visited {
  color: #3f3f3f;
  text-decoration-color: #3f3f3f;
}

.page-link:hover {
  color: gray;
  text-decoration-color: gray;
}

.form-btn {
  padding: 10px 15px;
  border-radius: 10px;
  border: 0 !important;
  outline: 0 !important;
  background: black;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin: 0;
  font-size: 11px;
  color: #747474;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-color: teal;
  cursor: pointer;
  font-weight: 800;
  transition: 0.5s all;
  color: black;
}

.sign-up-link:hover {
  color: #575757;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}

.google-login-button {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 5px;
}

.google-login-button {
  border: 2px solid #747474;
}

.google-login-button:hover {
  background-color: rgb(240, 240, 240);
}
.google-icon {
  font-size: 18px;
  margin-bottom: 1px;
}
.fblogo {
  width: 18px;
  height: 18px;
}
.password {
  width: 100%;
  position: relative;
}
.password input {
  width: 100%;
}
.password img {
  position: absolute;
  top: 25%;
  right: 4%;
  cursor: pointer;
}
.error {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.disabled-button {
  background-color: #ccc; /* Grayed-out background color */
  color: #888; /* Grayed-out text color */
  opacity: 0.7; /* Reduced opacity */
  cursor: not-allowed; /* Disabled cursor */
  pointer-events: none;
  padding: 10px 15px;
  border-radius: 10px;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.customDrawer .MuiPaper-root.MuiDrawer-paper {
  background-color: rgb(255, 255, 255) !important;
}